.portfolio {
    display: flex;
    gap: 2em;

    padding-top: 2em;

    flex-wrap: nowrap;
    overflow-x: auto;

}

.portfolio-heading{
    margin-top: 2em;
}

@media (min-width: 900px) {
    .portfolio-heading {
        font-size: 2rem;
    }
    .portfolio {
        flex-direction: row;
        gap: 0;
        justify-content: space-evenly;
    }
}