.portfolio {
    display: flex;
    gap: 2em;

    padding-top: 2em;

    flex-wrap: nowrap;
    overflow-x: auto;

    border-radius: 25px;

}

.portfolio-heading{
    margin-top: 2em;
}

@media (min-width: 900px) {
    .portfolio-heading {
        font-size: 2rem;
    }
    .portfolio {
        padding: 2em 2em 0 2em;
        flex-direction: row;
        gap: 3em;
    }
}