.portfolio {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.portfolio-heading{
    margin-top: 2em;
}

.project-category {
    margin-top: 5em;
}

@media (min-width: 900px) {
    .portfolio-heading {
        font-size: 2rem;
    }
    .portfolio {
        flex-direction: row;
        gap: 0;
        justify-content: space-evenly;
    }
}