#root {
  /* might delete */
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

/* App.jsx */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.linked-in-gif {
  border-radius: 25px;
  position: absolute;
  top: 65vh;
  right: 85vw;
}
.linked-in-gif:hover {
  filter: drop-shadow(0 0 2em #fff);
}

.github-png {
  width: 90px;
  position: absolute;
  top: 73vh;
  right: 79vw;
}
.github-png:hover {
  filter: drop-shadow(0 0 2em #fff);
}


/* Nav.jsx */

/* logo */
.icon {
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .icon {
    animation: spin infinite 20s ease;
  }
  .github-png {
    animation: spin ease-in 10s reverse;
  }
}