#root {
  /* might delete */
  text-align: center;
}

/* App.jsx */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
}

.app hr {
  border: 0;
  background-color: gray;
  height: 1px;
  margin-top: 1em;
}