.nav {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
}

.nav-element {
    width: 100%;
}

.nav__logo {
    color: #fff;
    font-size: 1.75rem;
    margin: 0;
    width: 100%;    
}

.nav__tags {
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 900px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 3em 0 3em;
    }
    .nav-element {
        width: 28%;
    }
    .nav__tags {
        justify-content: space-evenly;
        font-size: 1.5rem;
        gap: 2em;        
    }
    .nav__logo {
        font-size: 2.5rem;
    }
}