.about {
    margin: 0 auto;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.about__img-wrap {
    width: 75%;
    margin: 0 auto;

    background-color: #fff;
    padding: 3px;
    border-radius: 50%;
    height: 190px;
}

.about__portrait {
    width: 100%;
    border-radius: 50%;
    height: 190px;
}

.about__autobio {
    text-align: left;
    font-size: 1.25rem;
    padding-top: 1rem;
}

.about__button-wrap {
    margin-top: 2rem;
}

.about__segments {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;    
}

.about__segments div h1 {
    font-size: 3.5rem;
    margin: 0;
}

.about__hr {
    margin-top: 2rem;
}

.about__world hr{
    border: none;
    height: 1px;
    background-color: blue;
}

.about__laptop hr{
    border: none;
    height: 1px;
    background-color: green;
}

.about__heart hr{
    border: none;
    height: 1px;
    background-color: white;
}


@media (min-width: 900px) {
    .about h1 {
        font-size: 3rem;
        margin-bottom: 5rem;
    }
    .about__img-wrap {
        width: 30%;
        height: 300px;
        padding: 5px;
    }
    .about__portrait {
        height: 300px;
    }
    .about__autobio {
        width: 50%;
        margin: 0 auto;
        font-size: 2rem;
        padding-top: 3rem;
    }
    .about__segments {
        width: 50%;
        margin: 0 auto;
        padding-top: 9rem;
    }
}